body{
	background-color:#7B94D1;
	font-family: 'Quicksand', sans-serif;
	padding: 25px
} 
a{
	text-decoration:none;
}
@keyframes leaves {
	0% {
		transform: scale(1.0);
	}
	100% {
		transform: scale(.85);
	}
}
#lope, .image .degdeg{
	animation: leaves 1s ease-in-out infinite alternate;
	-webkit-animation: leaves 1s ease-in-out infinite alternate;
}
.button:hover{
	transform: scale(1.2);
}
.foto{
	display:block;
	text-align:center;
	width:100%;
	height:150px;
	margin-top:50px;
}
.foto > *{
	display:flex;
	align-items:center;
	justify-content:center;
	margin-top:15px;
	font-size:18px;color:white
}
.foto img{
	border-radius:50%;
	transition:all .5s ease;
}
.foto img:first-child{
	z-index:1
}
.contTom{
	margin:0;
	margin-left:-500%;
	transition:all .5s ease;
	display:flex;
	align-items:left;
	list-style:none
}
.icon{
	flex-shrink:0;
	display:inline-block;
	margin-right:12px; 
	width:18px;height:18px;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center
}
.button{
	display:inline-flex;
	align-items:center;
	margin:0;
	margin-left:-500%;
	transition:all .5s ease;
	padding:10px 15px;
	outline:0;
	border:0; 
	border-radius:10px;
	line-height:20px; 
	color:#fefefe;
	background-color:#2C57B6;
	font-size:13px;
	white-space:nowrap;
	overflow:hidden;
	max-width:100%
} 

.kolomteks{
	position:relative;
	padding:16px 20px 16px 40px;
	background-color:white;
	color:rgba(0, 0, 0, 1);
	font-size:.90rem;
	line-height:1.6em;
	border-radius:10px;
	overflow:hidden
}
.kolomteks::before{
	content:'';
	width:60px;
	height:60px;
	background-color:rgba(255, 255, 255, .5);
	display:block;
	border-radius:50%;
	position:absolute;
	bottom:-22px;
	right:-22px;
}
.kolomteks::after{
	content:'\201D';
	position:absolute;
	left:18px;top:18px; 
	font-size:50px; 
	min-width:15px;
	text-align:center
}